{% sw_extends '@Storefront/storefront/component/product/card/action.html.twig' %}

{% block page_product_detail_product_buy_meta %}
  {{ parent() }}
    <div class="input-group mb-3">
        <input type="button"
               value="-" class="minus bg-dark"
               data-field="lineItems[{{ id }}][quantity]">
        <input type="number"
               class="quantity-field"
               step="1"
               max="{{ product.calculatedMaxPurchase }}"
               min="{{ product.minPurchase }}"
               value="{{ product.minPurchase }}"
               name="lineItems[{{ id }}][quantity]">
        <input type="button"
               value="+"
               class="plus bg-dark"
               data-field="lineItems[{{ id }}][quantity]"
               data-max-quantity="{{ product.calculatedMaxPurchase }}">
    </div>
{% endblock %}


